# Predicting Check-ins of Foursquare Users in Tokyo

## 7 - Machine Learning II

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

In [2]:
df_X0 = pd.read_csv('df_X0.csv',
                    index_col = 0,
                    parse_dates = [0],
                    date_parser = pd.to_datetime,
                    infer_datetime_format = True)

In [3]:
df_X1 = pd.read_csv('df_X1.csv',
                    index_col = 0,
                    parse_dates = [0],
                    date_parser = pd.to_datetime,
                    infer_datetime_format = True)

In [4]:
# Load predictions from Layer 0
df_layer0_results = pd.read_csv("layer0_results.csv")

In [5]:
ytest0 = df_layer0_results.ytest0.values
ypred0 = df_layer0_results.ypred0.values

In [6]:
calc_accuracy_ypred0 = list(ypred0[ypred0 < 2])
calc_accuracy_ytest0 = list(ytest0[np.where(ypred0 < 2)])

In [7]:
df_X1.head()

,rollavg_2,rollavg_3,rollavg_4,rollavg_5,rollavg_6,rollavg_7,rollavg_8,rollavg_9,rollavg_10,rollavg_11,...,rollavg_240,rollavg_241,rollavg_242,rollavg_243,rollavg_244,rollavg_245,rollavg_246,y1,train_nearby,subway_nearby
timestamp,,,,,,,,,,,,,,,,,,,,,
2012-04-04 03:17:18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129,True,False
2012-04-04 03:22:04,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,False,False
2012-04-04 04:12:07,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,False,False
2012-04-04 04:12:13,0.5,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,False,False
2012-04-04 04:18:23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,212,False,False

In [8]:
df_X1.tail()

,rollavg_2,rollavg_3,rollavg_4,rollavg_5,rollavg_6,rollavg_7,rollavg_8,rollavg_9,rollavg_10,rollavg_11,...,rollavg_240,rollavg_241,rollavg_242,rollavg_243,rollavg_244,rollavg_245,rollavg_246,y1,train_nearby,subway_nearby
timestamp,,,,,,,,,,,,,,,,,,,,,
2013-02-16 11:33:18,0.007812,0.039062,0.023438,0.000000,0.000000,0.023438,0.007812,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,False,False
2013-02-16 11:33:52,0.022814,0.000000,0.030418,0.000000,0.000000,0.000000,0.019011,0.007605,0.019011,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29,False,False
2013-02-16 11:34:35,0.011811,0.000000,0.019685,0.039370,0.023622,0.035433,0.003937,0.003937,0.003937,0.003937,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42,False,False
2013-02-16 11:34:55,0.019417,0.000000,0.019417,0.000000,0.000000,0.009709,0.000000,0.000000,0.009709,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,121,False,False
2013-02-16 11:35:17,0.028571,0.031169,0.023377,0.015584,0.000000,0.010390,0.010390,0.000000,0.010390,0.005195,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17,False,False

In [9]:
Xtrain1 = df_X1['2012-July':'2013-Jan'].drop(["y1"], axis = 1)
ytrain1 = df_X1['2012-July':'2013-Jan'].y1

Xtest1 = df_X1['2013-Feb' : ].drop(["y1"], axis = 1)
ytest1 = df_X1['2013-Feb' : ].y1

clf_LR1 = LogisticRegression()
clf_LR1.fit(Xtrain1, ytrain1)
ypred1 = clf_LR1.predict(Xtest1)

In [10]:
print("Accuracy: {0:.2f}%".format(100 * accuracy_score(list(calc_accuracy_ytest0) + list(ytest1), list(calc_accuracy_ypred0) + list(ypred1))))

Accuracy: 45.91%

In [11]:
print("Micro-F1 score: {0:.2f}".format(f1_score(list(calc_accuracy_ytest0) + list(ytest1), list(calc_accuracy_ypred0) + list(ypred1), average = "micro")))

Micro-F1 score: 0.46

In [12]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(Xtrain1, ytrain1)
ypred_knn = knn.predict(Xtest1)

In [13]:
print("Accuracy: {0:.2f}%".format(100 * accuracy_score(list(calc_accuracy_ytest0) + list(ytest1), list(calc_accuracy_ypred0) + list(ypred_knn))))

Accuracy: 44.61%

In [14]:
print("Micro-F1 score: {0:.2f}".format(f1_score(list(calc_accuracy_ytest0) + list(ytest1), list(calc_accuracy_ypred0) + list(ypred_knn), average = "micro")))

Micro-F1 score: 0.45

In [15]:
# Ideas:
# 1) KMeans -> LR. Group similar observations based on features (kmeans and find elbow?). Is venue category similar?
# 2) LR only (current solution)?
# 3) Any new features I can think of?